.itemContainer {
    margin: 20px auto;
    width: 650px;
    max-width: 95%;
    display: flex;
}

/* .itemContentContainer {

} */

#itemName {
    text-align: left;
    font-size: 20px;
    margin: 0px 0px 0px 10px;
}

#itemDescription {
    font-size: 16px;
    margin: 2px 0px 0px 10px;
}

#itemImage {
    max-width: 62px;
    max-height: 62px;
    border-radius: 50%;
    margin-top: -5px;
    align-self: center;
}