.App {
  width: 1200px;
  max-width: 95%;
  margin: auto;
}

#mainTextContainer {
  width: 700px;
  max-width: 90%;
  margin: auto;
}

#socialIconContainer {
  display: flex;
  justify-content: center;
}

.socialIcon {
  max-width: 35px;
  margin: 0px 5px 0px 5px;
  -webkit-transition: .3s ease ;
  -moz-transition: .3s ease;
  -o-transition: .3s ease;
  transition: .3s ease;
}

.socialIcon:hover {
  opacity: 0.5;
}